.App {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.App-Chat {
    position: absolute;
    top:0;
    left:0;
    right:280px;
    bottom:0;
}

.App-Key {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    width:280px;
    padding:16px;
}